{% extends "base.html" %}
{% block meta %}
    {% if article.description %}
    {{ super() }}
    <meta name="description" content="{{article.description}}" />
    {% endif %}

    {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
    {% endfor %}
{% endblock %}

{% if TWITTER_CARDS %}
{% block twitter_cards %}
    <meta name="twitter:domain" content="{{ SITEURL }}/{{ article.url }}">
    <meta name="twitter:title" content="{{ article.title|striptags }}">
    <meta name="twitter:description" content="{{ article.summary|striptags }}">
{% endblock %}
{% endif %}

{% if FACEBOOK_OPEN_GRAPH %}
{% block facebook_opengraph %}
    <meta property="og:title" content="{{ article.title|striptags }}">
    <meta property="og:url" content="{{ article.url }}">
    <meta property="og:description" content="{{ article.summary|striptags }}">
{% endblock %}
{% endif %}

{% block content %}
<article class="post" role="article">
    <div class="post-title">
        <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
        <div class="post-meta">
            Published on <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>.
            {% if article.modified %}
            Last modified <time class="modified" datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time>.
            {% endif %}
        </div>
    </div>

    {{ article.content }}
</article>
{% endblock %}
