{% extends "base.html" %}
{% block title %}{{ page.title }} - {{ SITENAME }}{% endblock %}
{% block meta %}
    {{ super() }}
    <meta name="description" content="{{ page.description }}">
{% endblock %}

{% if TWITTER_CARDS %}
{% block twitter_cards %}
    <meta name="twitter:domain" content="{{ SITEURL }}/{{ page.url }}">
    <meta name="twitter:title" content="{{ page.title|striptags }}">
    <meta name="twitter:description" content="{{ page.description|striptags }}">
{% endblock %}
{% endif %}

{% if FACEBOOK_OPEN_GRAPH %}
{% block facebook_opengraph %}
    <meta property="og:title" content="{{ page.title|striptags }}">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:description" content="{{ page.description|striptags }}">
{% endblock %}
{% endif %}

{% block content %}
<article class="post" role="article">
    <div class="post-title">
        <h2>{{ page.title }}</h2>
    </div>
    {{ page.content }}
    {% if page.modified %}
    <p>Last updated: {{ page.locale_modified }}</p>
    {% endif %}
</article>
{% endblock %}
